LAVA_NETWORK=preprod

MAESTRO_KEY=
WALLET_PASSPHRASE_ONE=
WALLET_PASSPHRASE_TWO=

# Mainnet-only Atrium utilities
ATRIUM_WALLET_MNEMONIC=
ATRIUM_BLOCKFROST_API_KEY=
BLOCKFROST_API_KEY=
BLOCKFROST_ID=
